/* MOBILVERSION */

#fav_title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: auto;
  width: 330px;

  #number1 {
    position: relative;
    text-align: center;
    max-width: 90px;
  }

  #number2 {
    position: relative;
    text-align: center;
    top: 40px;
    max-width: 90px;
  }

  #number3 {
    position: relative;
    text-align: center;
    top: 75px;
    max-width: 90px;
  }
}
/* TABLET */

@media (min-width: 768px) {
}

/* DESKTOP */

@media (min-width: 1080px) {
  #number2 {
    top: 50px;
  }

  #number3 {
    top: 55px;
  }
}
