// Caroline

/* MOBILVERSION */
#favorites {
  overflow-y: scroll;
}

#fav_title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: auto;

  span {
    text-align: -webkit-center;
  }

  #span1 {
    position: relative;
    text-align: center;
    max-width: 90px;
  }

  #span2 {
    position: relative;
    text-align: center;
    top: 40px;
    max-width: 90px;
  }

  #span3 {
    position: relative;
    text-align: center;
    top: 75px;
    max-width: 90px;
  }

  img {
    width: 70%;
    margin-top: 10px;
  }
}

#fav_wrapper {
  svg {
    width: 100%;
  }
}
/* TABLET */

@media (min-width: 768px) {
  #fav_title {
    width: 330px;
  }
}

/* DESKTOP */

@media (min-width: 1080px) {
  #number2 {
    top: 50px;
  }

  #number3 {
    top: 60px;
  }
}
