@use "../base/colors";

/* MOBILVERSION */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 20px;
}

body {
  background-color: colors.$baggrundcolor;
}

// Grid for hele dashboardet
#orders {
  grid-area: orders;
}

#favorites {
  grid-area: favorites;
}

#staff {
  grid-area: staff;
}

#taps {
  grid-area: kegs;
}

#storage {
  grid-area: storage;
}

#sales {
  grid-area: sales;
}

fieldset {
  border: 3px solid colors.$base_color;
}

legend {
  text-align: center;
}

/* TABLET */

/* DESKTOP */

@media (min-width: 1080px) {
  main {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: auto;
    grid-template-areas:
      "orders favorites staff"
      "orders favorites staff"
      "orders kegs kegs"
      "sales kegs kegs"
      "sales storage storage"
      "sales storage storage";
  }
}
