@use "../base/colors";

.hide {
  display: none;
}

/* MOBILVERSION */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 20px;
}

body {
  background-color: colors.$baggrundcolor;
}

// Grid for hele dashboardet
#orders {
  grid-area: orders;
  overflow: scroll;
}

#favorites {
  grid-area: favorites;
  display: grid;
  align-content: center;
}

#staff {
  grid-area: staff;
}

#taps {
  grid-area: kegs;
}

#storage {
  grid-area: storage;
}

#sales {
  grid-area: sales;
}

fieldset {
  border: 3px solid colors.$base_color;
}

legend {
  text-align: center;
}

/* TABLET */

@media (min-width: 768px) {
  .hide {
    display: block;
  }
}

/* DESKTOP */

@media (min-width: 1080px) {
  /*   main {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: auto;
    grid-template-areas:
      "orders favorites staff"
      "orders favorites staff"
      "orders kegs kegs"
      "sales kegs kegs"
      "sales storage storage"
      "sales storage storage";
  } */

  main {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-gap: 1vh 1.2vw;
    grid-template-rows: 40vh 30vh 24vh;
    grid-template-areas:
      "orders favorites staff"
      "sales kegs kegs"
      "storage storage storage";
  }

  /*   main {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-gap: 1vh 1.2vw;
    grid-template-rows: 40vh 30vh 24vh;
    grid-template-areas:
      "orders staff favorites"
      "sales kegs kegs"
      "storage storage storage";
  } */
}
