/* MOBILVERSION */

.guideline_wrapper {
  display: grid;
  grid-template-columns: 130px 2fr 1fr;
  align-items: center;
  margin-left: 10px;
}

/* TABLET */

@media (min-width: 768px) {
  .guideline_wrapper {
    grid-template-columns: 187px 2fr 1fr;
  }
}
