// Sophie

/* MOBILVERSION */

#storage_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  margin: 15px;
}

/* TABLET */

@media (min-width: 768px) {
}

/* DESKTOP */

@media (min-width: 1080px) {
  #storage_wrapper {
    gap: 2px;
    margin: 0;
  }
}
