// Sophie
/* MOBILVERSION */
#taps {
  overflow-y: scroll;
}

#taps_wrapper {
  text-align: center;
}

/* TABLET */

@media (min-width: 768px) {
  #taps_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }
}

/* DESKTOP */

@media (min-width: 1080px) {
  #taps_wrapper {
    display: flex;
    margin-top: -10px;

    article {
      grid-template-rows: 5vh 10vh 10vh;
    }

    .tap_info {
      align-self: start;
    }
  }
}
