@use "../base/colors";
/* MOBILVERSION */
.each_staff {
  grid-area: each_staff;
  display: flex;
  gap: 8px;
  align-items: center;
}
.status {
  grid-area: status;
}
.serving_no {
  grid-area: serving_no;
  text-align: center;
}

#staff_wrapper article {
  display: grid;
  grid-template-columns: 122px 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "each_staff status serving_no";
  border: var(--component-border) solid 2px;
  border-radius: 20px;
  background-color: var(--color-component);
  margin: 10px auto;
  padding: 4px;
  gap: 13px;
  align-items: center;
}

p.name {
  font-weight: bolder;
}
img.staff_img {
  max-width: 9vw;
}

/* TABLET */

@media (min-width: 768px) {
  img.staff_img {
    max-width: 8vw;
  }
  #staff_wrapper article {
    grid-template-columns: 157px 1fr 1fr;
  }
}

/* DESKTOP */

@media (min-width: 1080px) {
  img.staff_img {
    max-width: 2.2vw;
  }
}
