// Sophie

@use "../base/colors";
@use "../base/fonts";

/* MOBILVERSION */

#storage_wrapper article {
  border: 2px solid colors.$border_color_on_components;
  border-radius: 25px;
  text-align: center;
  width: 120px;
  height: 17vh;
  background-color: colors.$baggrundscolor_on_components;
  display: grid;
  align-content: center;
  justify-items: center;
  align-content: space-around;
  padding: 10px;

  img {
    width: 60%;
  }
}

/* TABLET */

@media (min-width: 768px) {
}

/* DESKTOP */

@media (min-width: 1080px) {
  #storage_wrapper article {
    width: 95px;
    grid-template-rows: 2fr 2fr 1fr;
    justify-content: center;
    align-items: center;
  }
}
