// Sophie

@use "../base/colors";
@use "../base/fonts";

/* MOBILVERSION */

#storage_wrapper article {
  border: 2px solid var(--component-border);
  border-radius: 25px;
  text-align: center;
  // height: 180px;
  height: 22vh;
  background-color: var(--color-component);
  display: grid;
  grid-template-rows: 35px 2fr 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
  padding: 10px;

  img {
    width: 18vw;
  }
}

/* TABLET */

@media (min-width: 768px) {
  #storage_wrapper article img {
    width: 10vw;
  }
}

/* DESKTOP */

@media (min-width: 1080px) {
  #storage_wrapper article {
    // height: 180px;
    height: 16vh;
    max-width: 130px;
    grid-template-rows: 20% 8vh 10%;

    img {
      width: 4vw;
      max-width: 60%;
    }
  }
}
