@use "../base/colors";

/* MOBILVERSION */
#orders_wrapper article {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 10px;
  align-items: center;
  background-color: var(--color-component);
  border: 2px solid var(--component-border);
  border-radius: 20px;
  padding: 1rem;

  .order_no {
    text-align: center;
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
      line-height: 2rem;
    }
  }
}

/* TABLET */

@media (min-width: 768px) {
}

/* DESKTOP */

@media (min-width: 1080px) {
  #orders_wrapper article {
    grid-gap: 20px;
  }
}
