// Caroline
@use "../base/colors";

/* MOBILVERSION */
#fav_wrapper {
  svg {
    margin: 0 auto;
    fill: var(--color-component);
    // display: block;
    tspan {
      fill: var(--font-color);
    }
  }
}

// path {
//   fill: colors.$baggrundscolor_on_components;
// }

/* TABLET */

@media (min-width: 768px) {
}

/* DESKTOP */

@media (min-width: 1080px) {
}
