@use "../base/colors";
/* MOBILVERSION */
.value {
  grid-area: value;
  //   text-align: center;
}
.number_and_icon {
  grid-area: number_and_icon;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 12px;
}

.sales {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "number_and_icon value";
  align-items: center;
  background-color: colors.$baggrundscolor_on_components;
  border: colors.$border_color_on_components solid 2px;
  margin: 10px auto;
  padding: 12px 8px 12px 8px;
  gap: 35px;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .sales {
    grid-template-columns: 450px 1fr;
  }
}
@media (min-width: 1080px) {
  .sales {
    grid-template-columns: 190px 1fr;
  }
}
