// Sophie

@use "../base/colors";
@use "../base/fonts";

/* MOBILVERSION */

#taps_wrapper {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    //gap: 10px 30px;
    margin: 15px 7px 15px 7px;

    h3 {
      grid-column: 1 / -1;
    }

    .donut-chart {
      padding: 5px;

      .level {
        font-family: fonts.$base_font;
        font-size: 0.55rem;
        fill: colors.$base_color;
      }
    }
  }
  .tap_info {
    text-align: left;
    line-height: 1.3rem;

    .alcohol,
    .beer_type {
      font-size: fonts.$p_small;
    }
  }
}

/* TABLET */

@media (min-width: 768px) {
  #taps_wrapper {
    article {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      margin: 0;
      .donut-chart {
        width: 65%;
      }
    }
    .tap_info {
      text-align: center;
    }
  }
}

/* DESKTOP */

@media (min-width: 1080px) {
}
