//Baggrundsfarve
$baggrundcolor: #0c1618;

//Farven på borderen rundt om boksene og farve på font
$base_color: #c6ad5d;

//Baggrundsfarve på components
$baggrundscolor_on_components: #112026;

//Farven på borderen rundt om components
$border_color_on_components: #674b25;

//Farve på fyldt tap
$color_on_full_loaded_tap: #405d30;

//Farve på halv fyldt tap
$color_on_half_loaded_tap: #a88338;

//Farve på tom tap
$color_on_empty_tap: #723833;

//Farve på bartenders status - Aktiv
$color_on_available: #209311;

//Farve på bartenders status - Optaget
$color_on_unavailable: #a21b1b;
