@use "colors";

@font-face {
  font-family: "playfair_displayregular";
  src: url("playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"), url("playfairdisplay-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$base_font: "playfair_displayregular";

// FONT SIZES
h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: colors.$color_on_font;
}

h2 {
  font-size: 1.8rem;
  color: colors.$color_on_font;
}

h3 {
  font-size: 1.2rem;
  color: colors.$color_on_font;
}

h4 {
  font-size: 1rem;
  color: colors.$color_on_font;
}

p,
li {
  font-size: 1rem;
  color: colors.$color_on_font;
}

$p_small: 0.8rem;

//Dette er bare lige et stk. kode til at lave outlined på font
/*
color: white;
font-size: 50px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
*/
